services:
  seq:
    container_name: seq
    image: datalust/seq:latest
    environment:
      ACCEPT_EULA: "Y"
      SEQ_FIRSTRUN_NOAUTHENTICATION: "true"
    ports:
      - "8081:80"
      - "5341:5341"
    restart: always


  postgres:
      container_name: directory_container
      image: postgres
      restart: always
      environment:          
        POSTGRES_DB: directory_service_db
        POSTGRES_USER: postgres
        POSTGRES_PASSWORD: postgres
      ports:
        - "5435:5432"
      volumes:
        - postgres-data:/var/lib/postgresql/data

volumes:
  postgres-data:

     