services:
   seq:
     container_name: seq
     image: datalust/seq:latest
     environment:
        ACCEPT_EULA: "Y"
        SEQ_FIRSTRUN_NOAUTHENTICATION: "true"
     ports:
       - "8081:80"
       - "5341:5341"
     restart: always
     